body *{
    margin: 0;
    padding: 0;
    outline: 1px solid pink;
}
nav.navbar{
    background-color: rgba(4, 0, 255, 0.438);
    width: auto;
    height: auto;
}
.navbar-nav{
    display: flex;
}
    .dropdown-menu{
        background-color: rgba(45, 43, 168, 0.658);
    }
    .dropdown-item{
        font-weight: bold;
    }
    .logo{
        width: 50px;
    }
    .nav-item{
        display: flex;
        vertical-align: middle;
        margin: 5px;
        font-weight: bold;
    }
    
    .btn{
        background-color: rgba(85, 84, 139, 0.527);
        margin: 15px;
        display: flex;
        justify-content: center;
    }

main{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}


    #aboutUs{
        width: 600px;
    }
        .carousel{
            margin-bottom: 15px;
        }

        #mision{
            background-color:  rgba(223, 223, 223, 0.5);
            border-radius: 10px;
            padding: 15px;
        }

        #vision{
            margin: 15px 0 15px 0;
            background-color:  rgba(223, 223, 223, 0.5);
            border-radius: 10px;
            padding: 15px;
        }


    #userRegister{
        width: 400px;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgba(223, 223, 223, 0.5);
        border-radius: 10px;
    }
    #userRegister p{
        margin: 10px;
    }
    #userLogin{
        background-color: rgba(223, 223, 223, 0.5);
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
        padding: 20px;
    }
    #userLogin p{
        margin: 10px;
    }

.alinear{
    display: inline-block;
    vertical-align: top;
    
}