body * {
    margin: 0;
    padding: 0;
    /* outline: solid 1px pink; */
    margin-left: 0;
}

div.row{
    margin-right: 0px;
}

div.container-fluid{
    padding-right: 0px;
}

#content {
    background: linear-gradient(0deg, rgba(255,255,255,1) 23%, rgba(125,241,255,1) 100%);
}

.navbar {
    display: inline-block;
}

nav.navbar {
    display: block;
    background-color: #80b4f0;
}

#menu {
    width: 85px;
    padding: 10px 0;
    background-color: #c0dbee;  
    border-radius: 7px;
    display: inline-block;
}

.dropdown-menu {
    background-color: #80b4f0;
    padding: 10px;
    margin-block: 0 0 0 17px;
    border: none;
}

.dropdown-item {
    font-weight: bold;
    background: #c0dbee;
    border-radius: 7px;
    margin: 5px 0;
}

#logo img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#logo {
    display: inline-block;
    margin-left: 5%;
}

.rounded-circle {
    border: 2px solid #4f4d93;
}

#perfil {
    width: 5px;
}

.nav-item {
    display: inline-block;
    font-weight: bold;
    width: 32.8%;
    text-align: center;
}

.nav-item.dropdown {
    margin-left: -35px;
}

.nav-item.dropdown.usuario {
    width: 40px;
}

@media only screen and (max-width: 991px) {

    .container-fluid {
    width: 33%;
    text-align: center;
    }    

    #logo {
        width: 42%;
    }

    .nav-item {
        width: 29%;
    }

    .dropdown-menu.show {
        margin-left: -10px;
        margin-top: 20px;
    }   

    .dropdown-menu.sombra.show {
        margin-top: -1px;
        margin-left: -40px;
    }
    
}

.btn {
    background-color: #c0dbee;
    margin: 15px;
    font-weight: bold;
}

.carousel {
    margin-bottom: 15px;
}

.d-block{
    text-align: center;
    margin-top: 120px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.sig{
    background-color: #6a9eda
}
h2{
    text-align: center;
    margin-top: 128px;
}

.title {
    width: 300px;
    margin: 70px auto;
    padding: 10px;
    background: #6ba7e7;
    border-radius: 10px;
}

.title h1 {
    text-align: center;
    font-size: 40px;
}

#nuevo a{
    background-image: linear-gradient(#6a9eda,#8ab3e2,#6a9eda);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

/* Cambia el color del enlace cuando se toca con el puntero */
#nuevo a:hover{
    background-image: linear-gradient(#8ab3e2,#8ab3e2, #8ab3e2);
    }

#mainContent{
    text-align: center;
}

#mainContent h2{
    margin-bottom: 15px;
}

#mainContent {
    width: 1775px;
    margin-left: 50px;
}

#mainContent table{
    margin-left: 50px;
    margin-right: 50px;
    width: 1650px;

}
    #tareas{
        margin-top: 30px;
        background-color:  rgba(223, 223, 223, 0.5);
        box-shadow: 3px 3px 3px #888888;
        border-radius: 10px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }

    #completadas{
        margin-top: 30px;
        background-color:  rgba(223, 223, 223, 0.5);
        box-shadow: 3px 3px 3px #888888;
        border-radius: 10px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }

    .fondo {
        width: 90%;
        margin: 70px auto;
        padding: 10px;
        background: #84afdd;
        border-radius: 10px;
    }

    .table {
        width: 100%;
    }
    
    th {
        width: 30%;
    }

    @media only screen and (max-width: 991px) {

        #nuevo {
            text-align: center;
        }

        #nuevo a{
            display: inline-block;
            margin: 10px;
        }

        th {
            font-size: 13px;
        }
    }

    #nuevo a{
        margin-left: 5%;
    }

    th a {
        width: 50%;
    }
    
    td {
        width: 100%;
        vertical-align: middle;
    }

    .achicar {
        width: 2%;
    }
    
    td a {
        padding: 5px;
        text-decoration: none;
        color: black;
        background: #5086c1;
        border-radius: 100%;
    }
    
    .publicidad {
        display: block;
        height: 100px;
        margin-top: 20px;
        border: 1px solid black;
        box-shadow: 5px 5px 5px #888888;
        background-color:  rgb(247, 247, 247);
        font-size: large;
        margin-left: 10px;
        margin-bottom: 20px;
    }