body * {
    margin: 0;
    padding: 0;
    /* outline: solid 1px pink; */
}

div.row{
    margin-right: 0px;
}

div.container-fluid{
    padding-right: 0px;
}
.navbar-brand2 {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(211, 224, 240);
    background: radial-gradient(rgb(198, 221, 255)60%, rgb(151, 191, 252) 40%, rgb(255, 255, 255)60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 15%;
    font-size: 2rem;
    margin-left: 60%;
}
body{
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(243, 255, 255, 1) 25%, rgb(242, 252, 252) 50%, rgb(240, 255, 255) 75%, rgba(217, 255, 255, 1) 100%);
}

.navbar {
    display: inline-block;
}

nav.navbar {
    display: block;
    background-color: #80b4f0;
    box-shadow: 0 1px 10px 4px #4f4d93;
}

#menu {
    width: 85px;
    padding: 10px 0;
    background-color: #c0dbee;  
    border-radius: 7px;
    display: inline-block;
}

.dropdown-menu {
    background-color: #80b4f0;
    padding: 10px;
    margin-block: 0 0 0 17px;
    border: none;
    box-shadow: 63px -37px 5px -60px rgba(79,77,147,1);}

.dropdown-item {
    font-weight: bold;
    background: #c0dbee;
    border-radius: 7px;
    margin: 5px 0;
}

#logo img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#logo {
    display: inline-block;
    margin-left: 5%;
}

.rounded-circle {
    border: 2px solid #4f4d93;
}

#perfil {
    width: 5px;
}

.nav-item {
    display: inline-block;
    font-weight: bold;
    width: 30.8%;
    margin-left: 2%;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}
.nav-item.dropdown {
    margin-left: -35px;
}

.nav-item.dropdown.usuario {
    width: 40px;
}

.sombra {
    box-shadow: -35px -17px 5px -32px rgba(79,77,147,1);
}
/*////////////////////////*/
body{

    background-color: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(243, 255, 255, 1) 25%, rgba(235, 250, 250, 1) 50%, rgba(234, 255, 255, 1) 75%, rgba(217, 255, 255, 1) 100%);
}
#content {    
    height: 100%;
    display: flex;
    justify-content: center;
}


.crearEditar {
    justify-content: center;
    display: flex;
}

.titulo {
    margin-top: 20%;
    margin-bottom: 80px;
    width: 600px;
    padding: 20px;
    border-radius: 200px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(243, 255, 255, 1) 25%, rgba(235, 250, 250, 1) 50%, rgba(234, 255, 255, 1) 75%, rgba(217, 255, 255, 1) 100%);
    margin-left: 100px;
}

h1 {
    margin-top: 2%;
    -webkit-text-fill-color: rgb(249, 253, 255);
    -webkit-text-stroke: 2px rgb(143, 191, 255);
    background: rgb(205, 218, 255);
    text-align: center;
    font-size: 3rem;
    background: radial-gradient(rgb(185, 210, 247)60%, rgb(151, 191, 252) 40%, rgb(255, 255, 255)60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.cajon {
    margin-left: 20px;
    width: 800px;
    background: linear-gradient(0deg, rgb(235, 250, 250, 1) 10%, rgb(223, 248, 248) 24%, rgb(190, 225, 253) 60%, #92c5ff 80%, #80b4f0 100%);
}

/*/////////////////////////////////////////////////////////////////////*/
.tarea {
    width: 400px;
    margin: 20px;
    margin-bottom: 50px;
    margin-left: 35%;
    display: block;

}
.fecha {
    margin-bottom: 10px;
    font-size: 27px;
    margin-left: 25%;
    width: 170px;
}
.font{
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 28%;
    -webkit-text-fill-color: rgb(198, 239, 255);
    -webkit-text-stroke: 1px rgb(154, 198, 255);
    background: #ccc;
    text-align: center;
    font-size: 2rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.font1{
    margin-bottom: 10px;
    margin-left: -33px;
    -webkit-text-fill-color: rgb(198, 239, 255);
    -webkit-text-stroke: 1px rgb(154, 198, 255);
    background: #ccc;
    text-align: center;
    font-size: 2rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.task {
    justify-content: center;
    margin-top: 20px;

}
.boton{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-left: 80px;
    font-weight: bold;
    background-color: #80b4f0;
    border-color: #80b4f0;
    margin-bottom: 10%;
    margin-top: 5%;
}
.btn{
    background-color: #c0dbee;
}
.col{
    background-color: rgb(247, 247, 247);
    height: 67px;
    border: 1px solid rgb(202, 202, 202);
}
.form-outline{
    width: 90%;
    margin-right: 20px;
}
.form-control{
    margin-left: -30px;

}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: rgb(165, 217, 238);
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-duration: 7s
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 14%;
    animation-duration: 9s
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 1%;
    animation-duration: 6s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 6s
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 5%;
    animation-duration: 5s
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 86%;
    animation-duration: 4s
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 75%;
    animation-duration: 8s
}

.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 90%;
    animation-duration: 9s
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 6%;
    animation-duration: 11s
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 70%;
    animation-duration: 5s
    
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
