body *{
    margin: 0;
    padding: 0;
    /* outline: 1px solid pink; */
}
#content {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, 
    rgba(243, 255, 255, 1) 25%, 
    rgba(235, 250, 250, 1) 50%, 
    rgba(234, 255, 255, 1) 75%, 
    rgba(217, 255, 255, 1) 100%);
    min-height: 922px;
    padding-bottom: 50px;
}

nav.navbar {
    background-color: #6a9eda;
    width: auto;
    height: auto;
    box-shadow: 3px 3px 3px #888888;
}

#menu{
    margin-right: 800px;
    height: 50px;
}

#perfil{
    margin-left: 690px;
}

.dropdown-menu {
    background-color: #5086c1;
}

.dropdown-item {
    font-weight: bold;
}

#logo img{
    max-width: 50px;
    border-radius: 50%;
}

.nav-item {
    vertical-align: middle;
    margin: 5px;
    font-weight: bold;
}
    .btn{
        background-color: rgba(190, 212, 223, 0.527);
        margin: 15px;
        display: flex;
        justify-content: center;
    }

#nuevo{
    margin-top: 40px;
    margin-left: 50px;
}

#nuevo a{
    background-image: linear-gradient(#6a9eda,#8ab3e2,#6a9eda);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

/* Cambia el color del enlace cuando se toca con el puntero */
#nuevo a:hover{
    background-image: linear-gradient(#8ab3e2,#8ab3e2, #8ab3e2);
    }

#mainContent{
    text-align: center;
}

#mainContent h2{
    margin-bottom: 15px;
}

#mainContent {
    width: 1775px;
    margin-left: 50px;
}

#mainContent table{
    margin-left: 50px;
    margin-right: 50px;
    width: 1650px;

}
    #tareas{
        margin-top: 30px;
        background-color:  rgba(223, 223, 223, 0.5);
        box-shadow: 3px 3px 3px #888888;
        border-radius: 10px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }

    #completadas{
        margin-top: 30px;
        background-color:  rgba(223, 223, 223, 0.5);
        box-shadow: 3px 3px 3px #888888;
        border-radius: 10px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    
.publicidad{
    height: 100px;
    width: 1775px;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    background-color:  rgb(247, 247, 247) ;
}
