body * {
    margin: 0;
    padding: 0;
    /*outline: solid 1px pink;*/
    margin-left: 0;
}

div.row {
    margin-right: 0px;
}

div.container-fluid {
    padding-right: 0px;
}

body {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(243, 255, 255, 1) 25%, rgb(242, 252, 252) 50%, rgb(240, 255, 255) 75%, rgba(217, 255, 255, 1) 100%);
}
.navbar-brand2 {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(211, 224, 240);
    background: radial-gradient(rgb(198, 221, 255)60%, rgb(151, 191, 252) 40%, rgb(255, 255, 255)60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 15%;
    font-size: 2rem;
    margin-left: 60%;
}
#content {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.navbar {
    display: inline-block;
}

.navbar {
    margin-bottom: 2%;
}

nav.navbar {
    display: block;
    background-color: #80b4f0;
    box-shadow: 0 1px 10px 4px #4f4d93;
}

#menu {
    width: 85px;
    padding: 10px 0;
    background-color: #c0dbee;
    border-radius: 7px;
    display: inline-block;
}

.dropdown-menu {
    background-color: #80b4f0;
    padding: 10px;
    margin-block: 0 0 0 17px;
    border: none;
    box-shadow: 63px -37px 5px -60px rgba(79, 77, 147, 1);
}

.dropdown-item {
    font-weight: bold;
    background: #c0dbee;
    border-radius: 7px;
    margin: 5px 0;
}

#logo img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#logo {
    display: inline-block;
    margin-left: 5%;
}

.rounded-circle {
    border: 2px solid #4f4d93;
}

#perfil {
    width: 5px;
}
.nav-item {
    display: inline-block;
    font-weight: bold;
    width: 30.8%;
    margin-left: 2%;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.nav-item.dropdown {
    margin-left: -35px;
}

.nav-item.dropdown.usuario {
    width: 40px;
}

.sombra {
    box-shadow: -35px -17px 5px -32px rgba(79, 77, 147, 1);
}

@media only screen and (max-width: 991px) {

    .container-fluid {
        width: 33%;
        text-align: center;
    }

    #logo {
        width: 42%;
    }

    .nav-item {
        width: 29%;
    }

    .dropdown-menu.show {
        margin-left: -10px;
        box-shadow: 63px -55px 5px -60px rgba(79, 77, 147, 1);
        margin-top: 20px;
    }

    .dropdown-menu.sombra.show {
        margin-top: -1px;
        margin-left: -40px;
        box-shadow: -36px -14px 5px -32px rgba(79, 77, 147, 1);
    }

}

/*---------------------------*/
.contenedor {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
    margin-top: 0.8%;

}

.container {
    border: 3px solid rgba(187, 187, 187, 0.5);
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    max-width: 25%;
    min-width: 400px;
    margin-left: 2%;
    height: 600px;
    padding: 2%;
    margin-top: 0.5%;
}

.mx-4 {
    border: 1px solid black;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    max-width: 90%;
    height: 400px;
    min-width: 70%;
}

/*preuab*/
.bloque4 {
    border: 3px solid rgba(184, 184, 184, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 200px;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;

}

.contorno1 {
    height: 150px;
    border: 3px solid rgba(223, 223, 223, 0.5);
    margin-top: 2%;
    padding-top: 2%;
}

.casillacuatro {
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
    width: 30%;

}

.padding {
    text-align: center;
}

.casillacinco {
    padding-left: 10%;
    border-left: 3px solid rgba(184, 184, 184, 0.5);
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}

/*asdad*/
.bloque {
    border: 3px solid rgba(184, 184, 184, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    width: 48%;
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2%;
    padding-left: 2%;
    margin-right: 3.5%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.bloque2 {
    border: 3px solid rgba(184, 184, 184, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    width: 48%;
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.bloque3 {
    border: 3px solid rgba(184, 184, 184, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.contorno {
    border: 3px solid rgba(223, 223, 223, 0.5);
    margin-top: 2%;

}

.casilla {
    border: 3px solid rgba(223, 223, 223, 0.5);
    padding: 2%;
    margin-top: 4.2%;
    width: 100%;
    min-width: 100px;
}

.casillados {
    margin-left: 1%;
    padding: 2%;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.casillatres {
    padding: 2%;
    width: 53.5%;
    display: inline-block;
    vertical-align: top;
}

.largo {
    width: 60%;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-left: calc(var(--bs-border-width) * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tamaño {
    width: 40%;
}

h2 {
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
    color: rgb(199, 199, 199);
}

.password {
    text-align: center;
    margin-top: 3%;
}

label {
    font-weight: bold;
}

.boton {
    text-align: center;
    margin-left: 42%;
}

.boton1 {
    margin-left: 40%;
}

.boton2 {
    margin-bottom: 1%;
    margin-left: 47%;
}

.bottom {

    margin-bottom: 8%;
}

.info {
    border-bottom: 2px solid rgb(212, 212, 212);
    font-size: 150%;
    text-align: center;
    font-weight: bold;
    color: rgb(73, 73, 73);
    padding-bottom: 1%;
}

.borrar {
    width: 10%;
    display: flex;
    margin-left: 10%;
    margin-top: -8%;
    justify-content: center;
}